<html>
<form action="search.php" method ="post">

<center>
    
<br><br><br><br><br><br><br><br>
<h1 style="font-size:50px;">Information Search</h1> 

<select name="select" id="select_k1" class="xla_k" style="width:200px;height:50px;font-size:25px;">
    <option value="Select">Select</option>
    <option value="ID">Student ID</option>
    <option value="Name">Student Name</option>
    </select>
      <input type="text" name="typing" placeholder="Search for the Key Words" value="" style="width:350px;height:50px;font-size:25px;">
      <input type="submit" value="Search" style="width:150px;height:50px;font-size:25px;">


</center>


</form>
</html>